<!--
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">




<nav class = "navbar navbar-expand-lg bg-dark">
    <a href="#" class="navbar-brand"><img src="download.png" class="mr-3"> IPPM</a>

</nav>-->

<app-header  *ngIf= "isOn"></app-header>
<router-outlet (activate) = "active()" (deactivate) = "deactive()"></router-outlet>
<app-intro *ngIf = "isOn1"></app-intro>



<!--
<header class="jumbotron position" style="background-image: url(ippm/assets/img/download.png); margin-top: 50px;">

<div class="text-center" style="margin-top:120px;">
    <h1 class= "text-uppercase font-weight-bold">Integrated Programming project Management</h1>
    <p class="font-italic font-weight-bold first">By the programmer for the progrmmers</p>
</div>
</header>

<div class="container">
    <h2 class="text-center font-weight-bold">Programming Environments Provided</h2>
    <div class="row">
        <div class="col-md-3 col-sm-4 text-center">
            <a href="#"><i class="fab fa-python fa-10x mt-3"></i></a>
            <h4 class="mt-3 ml-3">Python</h4>
        </div>
        <div class="col-md-3 col-sm-4 text-center">
            <a href="#"><i class="fab fa-java fa-10x mt-3"></i></a>
            <h4 class="mt-3 ml-4">Java</h4>
        </div>
        <div class="col-md-3 col-sm-4 text-center">
            <a href="#"><i class="fab fa-cuttlefish fa-10x mt-3"></i></a>
            <h4 class="mt-3">C Programming</h4>
        </div>
        <div class="col-md-3 col-sm-4 text-center">
            <a href="#"><i class="fab fa-cuttlefish fa-10x mt-3"></i><i class="fas fa-plus fa-5x"></i><i class="fas fa-plus fa-5x"></i></a>
            <h4 class="mt-3" style="margin-left:40px;">C++</h4>
        </div>


<div class="container">
<h2 class="text-center mt-5 font-weight-bold">IPPM Features</h2>
    <div class="row">
        <div class="col-lg-6">
            <img src="ippm/assets/img/realtime.jpeg" class="img-fluid">
        </div>


    <div class="col-lg-6">
        <h2 class="text-center" style="margin-top:20px;">RealTime Collaboration</h2>
        <p style="font-size: 2em; margin-top: 30px;">
                Real-time collaboration is a term used for software or technologies that 
                allow multiple users to work together on a project in real time, or simultaneously. 
                Challenges related to real-time collaboration involve making files commonly 
                available to multiple users in different locations, and allowing these users 
                to communicate without signal delays.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h2 class="text-center" style="margin-top:20px;">Chatting</h2>
        <p style="font-size: 2em; margin-top: 30px;">
                Real-time collaboration is a term used for software or technologies that 
                allow multiple users to work together on a project in real time, or simultaneously. 
                Challenges related to real-time collaboration involve making files commonly 
                available to multiple users in different locations, and allowing these users 
                to communicate without signal delays.
        </p>
    </div>
    <div class="col-lg-6">
            <img src="ippm/assets/img/chat.png" class="img-fluid">
        </div>
</div>
<div class="row">
        <div class="col-lg-6">
                <img src="ippm/assets/img/Git-Icon-1788C.png" class="img-fluid">
            </div>
        <div class="col-lg-6">
            <h2 class="text-center" style="margin-top:20px;">Upload to Github</h2>
            <p style="font-size: 2em; margin-top: 30px;">
                GitHub is a web-based hosting service for version control using Git. 
                It is mostly used for computer code. It offers all of the distributed 
                version control and source 
                code management functionality of Git as well as adding its own features.
            </p>
        </div>
    
    </div>

</div>

<div class="jumbotron mt-5" style="background-color: lavender ; width: 1250px;">
        <div class="container">
            <h2 class="text-center text-black">Pricing</h2>
            <p class="text-Black" style="font-size:2em;">Charges will be for storage Space. At initial stage all stuff will be stored on user's google drive only sfter that once limit of 2GB storage of drive is excceded, IPPM will provide storage. 1$ per MB</p>
        </div>
        </div>        

<div class="jumbotron" style="background-color:black; width: 1250px;">
<div class="container">
    <h2 class="text-center text-white">Contact</h2>
    <h3 class="text-white">Post Query On -> veledictorium@gmail.com</h3>
    <h3 class="text-white">Mobile NO. -> 9167003441</h3>
</div>
</div>
</div>
</div>
-->




